<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemeShow</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <style>
    </style>
</head>

<body>
    <div id="navbar">

        <nav id="Chotanavbar">
            <section id="logo">
                <img src="Logo.png" alt="">
                <span>MemeShow</span>
            </section>
            <ul>
                <span id = "_meme_button_1"class = "_meme_button"href="">
                    <li>New Meme</li>
                </span>
                
                
                
            </ul>
        </nav>
    </div>
    
    <div id="mainbody">
        
        <div class = "fonts"id="memeBody">
            <h6 class = "fonts" id="_meme_title"> </h6>
            <img id="_meme_image">
            <button id="_meme_button_2" class="_meme_button">New Meme</button>
        </div>
    </div>
</body>
<script src="index.js"></script>

</html>